.box {
    display: inline-block;
    margin: 0.7em;
    min-width: 5.5em;
    line-height: 6.5em;
    text-align: center;
    transition: 2s ease-in-out;
    border: 2px solid #d60879;
    background-color: #d622c4;
    align-items: center;
    margin-left: 10%;
 }

 #rotate-box:hover {
    rotate: 60deg;
 }

 #rotate-x-box:hover {
    rotate: x 180deg;
 }

 #rotate-vector:hover {
    rotate: 0.8 1 0.5 360deg;
 }