/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, hsl(216, 62%, 67%), hsl(0, 57%, 67%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: hsl(0, 57%, 67%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.stylish-form {
    display: flex;
    flex-direction: column;
}

.stylish-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.stylish-form label {
    margin-bottom: 5px;
    color: hsl(0, 100%, 1%);
}

.stylish-form input, 
.stylish-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.stylish-form input:focus, 
.stylish-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.stylish-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hwb(40 42% 56%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.stylish-form button:hover {
    background-color: hwb(0 0% 100%);
}

