/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(285, 100%, 31%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:nth-child(2) {
    transform: translateX(-50px);
}

.box:nth-child(3) {
    transform: translateX(50px);
}
